[req]
prompt             = no
distinguished_name = dn
x509_extensions    = ext

[dn]
C  = US
ST = Delaware
O  = My Org
CN = My Root CA

[ext]
basicConstraints = critical, CA:TRUE
keyUsage         = critical, keyCertSign, cRLSign
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always
